<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  .container(onclick)
    .top
    .bottom
    .center
      h2 Please Sign In
      input(type="email" placeholder="Hoth Email")
      input(type="password" placeholder="password")
      h2 &nbsp;
</body>
</html>


